#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(2, 44, 44);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: rgb(0, 0, 41);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(216, 59, 59);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}